# Initial Libaries and File Path Setup

In [8]:
# Import initial depedencies and useful libraries
import numpy as np
import pandas as pd
import os

# List data directory content
# Assigned project root folder's file path to a variable to make code more readable.
dir_root = 'C:/Users/George Jieh/Documents/GeorgeNancy/Data Science/Kaggle/Kaggle_Titanic_Machine_Learning_From_Disaster/'
for dirname, _, filenames in os.walk(dir_root+'data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:/Users/George Jieh/Documents/GeorgeNancy/Data Science/Kaggle/Kaggle_Titanic_Machine_Learning_From_Disaster/data\test.csv
C:/Users/George Jieh/Documents/GeorgeNancy/Data Science/Kaggle/Kaggle_Titanic_Machine_Learning_From_Disaster/data\train.csv

# Loading Data

In [9]:
# Load training data
train_data = pd.read_csv(dir_root+"/data/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
# Load test data
test_data = pd.read_csv(dir_root+"/data/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# Initial Basic Analysis

In [11]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
perc_women = (sum(women)/len(women)) * 100

print("% of women who survived:", perc_women)

% of women who survived: 74.20382165605095

In [12]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
perc_men = (sum(men)/len(men)) * 100

print("% of men who survived:", perc_men)

% of men who survived: 18.890814558058924

In [13]:
class_1 = train_data.loc[train_data.Pclass == 1]['Survived']
perc_class_1 = ((sum(class_1))/len(class_1)) * 100

print('% of 1st class passengers who surived', perc_class_1)

% of 1st class passengers who surived 62.96296296296296

In [14]:
class_2 = train_data.loc[train_data.Pclass == 2]['Survived']
perc_class_2 = (sum(class_2)/len(class_2)) * 100

print('% of 2nd class passengers who surived', perc_class_2)

% of 2nd class passengers who surived 47.28260869565217

In [15]:
class_3 = train_data.loc[train_data.Pclass == 3]['Survived']
perc_class_3 = (sum(class_3)/len(class_3)) * 100

print('% of 3rd class passengers who surived', perc_class_3)

% of 3rd class passengers who surived 24.236252545824847

In [16]:
infants = train_data.loc[train_data.Age < 1]['Survived']
perc_infants = (sum(infants)/len(infants)) * 100

print('% of infant passengers, less than 1 years of age, who surived', perc_infants)

% of infant passengers, less than 1 years of age, who surived 100.0

In [17]:
children = train_data.loc[(train_data.Age >= 1) & (train_data.Age <= 12)]['Survived']
perc_children = (sum(children)/len(children)) * 100

print('% of children passengers, between ages 1 to 12, who surived', perc_children)

% of children passengers, between ages 1 to 12, who surived 53.2258064516129

In [18]:
teens = train_data.loc[(train_data.Age >= 13) & (train_data.Age <= 17)]['Survived']
perc_teens = (sum(teens)/len(teens)) * 100

print('% of teenage passengers, between ages 13 to 17, who surived', perc_teens)

% of teenage passengers, between ages 13 to 17, who surived 47.72727272727273

In [19]:
young_adults = train_data.loc[(train_data.Age >= 18) & (train_data.Age <= 26)]['Survived']
perc_young_adults = (sum(young_adults)/len(young_adults)) * 100

print('% of young adult passengers, between ages 18 to 26, who surived', perc_young_adults)

% of young adult passengers, between ages 18 to 26, who surived 33.49514563106796

In [20]:
adults = train_data.loc[(train_data.Age >= 27) & (train_data.Age <= 39)]['Survived']
perc_adults = (sum(adults)/len(adults)) * 100

print('% of adult passengers, between ages 27 to 39, who surived', perc_adults)

% of adult passengers, between ages 27 to 39, who surived 42.672413793103445

In [21]:
middle_aged = train_data.loc[(train_data.Age >= 40) & (train_data.Age <= 64)]['Survived']
perc_middle_aged = (sum(middle_aged)/len(middle_aged)) * 100

print('% of middle aged passengers, between ages 40 to 64, who surived', perc_middle_aged)

% of middle aged passengers, between ages 40 to 64, who surived 39.473684210526315

In [22]:
elderly = train_data.loc[train_data.Age >= 65]['Survived']
perc_elderly = (sum(elderly)/len(elderly)) * 100

print('% of elderly passengers, more than or equal to 65 years of age, who surived', perc_elderly)

% of elderly passengers, more than or equal to 65 years of age, who surived 9.090909090909092

In [23]:
have_spouse_siblings = train_data.loc[train_data.SibSp > 0]['Survived']
perc_have_spouse_siblings = (sum(have_spouse_siblings)/len(have_spouse_siblings)) * 100

print('% of passengers traveling with spouse and/or sibilings who surived', perc_have_spouse_siblings)

% of passengers traveling with spouse and/or sibilings who surived 46.64310954063604

In [24]:
have_parent_children = train_data.loc[train_data.Parch > 0]['Survived']
perc_have_parent_children = (sum(have_parent_children)/len(have_parent_children)) * 100

print('% of passengers traveling with parents and/or children who surived', perc_have_parent_children)

% of passengers traveling with parents and/or children who surived 51.173708920187785

In [25]:
travel_alone = train_data.loc[(train_data.Parch == 0) & (train_data.SibSp == 0)]['Survived']
perc_travel_alone = (sum(travel_alone)/len(travel_alone)) * 100

print('% of passengers traveling alone who surived', perc_travel_alone)

% of passengers traveling alone who surived 30.353817504655495

# Converting Percentages to Rates

In [26]:
# converting percentage numbers back to decimals to make the values easier to work with later on
rate_women = perc_women/100
rate_men = perc_men/100
rate_class_1 = perc_class_1/100
rate_class_2 = perc_class_2/100
rate_class_3 = perc_class_3/100
rate_infants = perc_infants/100
rate_children = perc_children/100
rate_teens = perc_teens/100
rate_young_adults = perc_young_adults/100
rate_adults = perc_adults/100
rate_middle_aged = perc_middle_aged/100
rate_elderly = perc_elderly/100
rate_have_spouse_siblings = perc_have_spouse_siblings/100
rate_have_parent_children = perc_have_parent_children/100
rate_travel_alone = perc_travel_alone/100

# Random Forest Model

In [32]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=6, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Done!")

Done!